* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Variables */
:root {
    --color-marca: linear-gradient(165deg, #53c959, #0f6328, #157402b0); /*fondo verde*/
    --color-fondo: antiquewhite;
}

body {
    font-family: roboto ;
    margin: 0px;
    padding: 0;
    background-color: var(--color-fondo);
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

 /* Navegación */
 .encabezado {
    background: var(--color-marca);
    color: #78f789;
    padding: 0.2em;
    text-align: center;
}

.navegacion ul {
    list-style: none;
    padding: 0;
}
.navegacion ul li {
    display: inline;
    margin: 0 10px;
}

.navegacion ul li a {
    color: #44f1bd;
    text-decoration: none;
}
.navegacion ul li a:hover {
    color: #b40505;
    text-decoration: none;
}

/* Cuerpo de las paginas */
.cuerpoDePagina {
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
}

.cuerpoDePagina a {
    color: #2f8d00fc;
    text-decoration: none;
}

.cuerpoDePagina a:hover {
    color: #b40505;
    text-decoration: underline;
}

.contenidos {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.programas {
    padding: 1rem;
}


/* Pie de pagina */
.pieDePagina {
    background: var(--color-marca);
    color: #78f789;
    padding: 0.001em;
    text-align: center;
}

/* Header */
.principal {
    padding: 0.3em;
    flex: 1;
}

.principal img {
    max-width: 100%;
    height: 500px;
}

.quienesSomos {
    text-align: center;
}

.quienesSomos p {
    text-align: left;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 0.8rem 1rem;
}